html, body {
    padding: 0;
    margin: 0;
}

#title {
    width: 100%;
    text-align: center;
    z-index:2;
    background-color: white;
}

#container {
    position:relative;
    padding:0;
    margin: 0 0 -4px 0 ;
}

#container #endline {
    position:absolute;
    background-color: #666666;
    height:2px;
    width:100%;
    bottom:-2px;
}

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-color: #666666;
    vertical-align: middle;
    border-collapse: collapse;
}

table.gridtable tbody {
}

table.gridtable th[info] {
    background-color: #D7E1E1;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}


table.gridtable thead th, table.gridtable thead th[info]{
    padding: 8px;
    vertical-align: bottom;
    border-color: #666666;
    border-width:1px;
    border-style:none;
    background-color: white;
}

table.gridtable td[factor] {
    border-right-width: 1px;
}

table.gridtable tr[trial-number='0'] td, table.gridtable tr[trial-number='0'] th {
    border-top-width: 2px;
}

table.gridtable [factor] + :not([factor]) {
    border-left-width: 2px;
}

table.gridtable tbody tr:hover td.odd {
    background-color: #eefdff;
}

table.gridtable tbody tr:hover td.even {
    background-color: #dff7fa;
}

table.gridtable tbody tr:hover th {
    background-color: #c7dbe1;
}

table.gridtable [info] + :not([info]) {
    border-left-width: 2px;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}

table.gridtable td.even, table.gridtable tr.even td.odd {
    background-color: rgba(108, 176, 176, 0.1);
}

table.gridtable tr.even td.even {
    background-color: rgba(108, 176, 176, 0.2);
}

table.gridtable tbody :last-child > * {
    border-bottom-style: none;
}

table.gridtable tr :first-child {
    border-left-style: none;
}

table.gridtable tr :last-child {
    border-right-style: none;
}