#container {
    display: inline-block;
    padding-top: 78px;
}

#message {
    margin-top: -35px;
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
}

.fixedheader .cell-spacer {
    height: 1px;
}

#title {
    position:fixed
}