body{
    text-align: center;

}

#table-status {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    text-align: center;
}

#table-status .cell-content {
    display: block;
    padding: 5px 10px;
}

#table-status td, #table-status th {
  padding: 0;
  margin: 0;
}

#table-status .run-link {
    display:block;
    height:100%;
    width:100%;
    text-decoration: inherit;
    color: inherit;
}

#table-status tr.run-row .run-id {
    text-align: left;
    width: 100%;
}

#table-status tr.run-row .run-status {
    text-align: right;
}

#table-status .run-lock .lock-icon {
    height: 0.98em;
    margin-bottom: -.2em;
    margin-top: -.02em;
}

#table-status .run-lock .unlock-icon {
  height: 1em;
  margin-bottom: -.2em;
  margin-top: -.3em;
}

#table-status .run-lock .run-lock-link:hover .lock-icon {
    display: none;
}
#table-status .run-lock .run-lock-link:not(:hover) .unlock-icon {
    display: none;
}

#table-status tr.run-row[class~="run-unstarted"][class~='even'] {
    background-color: #E3E3E3;
}

#table-status tr.run-row[class~="run-completed"] {
    background-color: #BDE9C5;
}

#table-status tr.run-row[class~="run-completed"][class~='odd'] {
    background-color: #C5F3CC;
}

#table-status tr.run-row[class~="run-started"] {
    background-color: #EDBF9D;
}

#table-status tr.run-row[class~="run-started"][class~='odd'] {
    background-color: #FFCDA9;
}

#table-status tr.run-row:hover {
    color:white;
}

#table-status tr.run-row[class~="run-unstarted"][class~='odd']:hover {
    color:lightgray;
}

#table-status tr.run-row:hover .lock-icon, #table-status tr.run-row:hover .unlock-icon {
    opacity: .7;
}

#downloads {
  margin: 20px auto;
}

#downloads .download-link {
  display: inline-block;
  height: 1.5em;
  padding: 0 1em;
  line-height: 1.5em;
  color: black;
  text-decoration: none;
  border: 1px solid #9c9c9c;
  background-color: #e7e7e7;
  border-radius: 5px;
}

#downloads .download-link:hover {
  background-color: #ebebeb;
}

#downloads .download-link:active {
  background-color: #f1f1f1;
}
