<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Stroke</title>

    <style>
        html, body {
            background-color:#5C5C5C;
        }

        #stroke-canvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background-color:white;
            box-shadow: 0px 0px 10px black;
        }
    </style>

</head>

<body>

<canvas id="stroke-canvas"></canvas>


{% block scripts %}
    <script src="{{ url_for('static', filename='js/stroke.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript">

        (function () {
            var TRIAL_EVENTS = {{ dumps(trial_events) | safe }},
                    TRIAL_NB = {{ trial.number }},
                    BLOCK_NB = {{ trial.block.number }},
                    EXPERIMENT_NAME = "{{ trial.experiment.name }}",
                    EXPERIMENT_ID = "{{ trial.experiment.id }}",
                    RUN_ID = "{{ trial.run.id }}",
                    MEASURED_BLOCK_NB = {{ trial.block.measure_block_number() }};

            function adaptCanvasSize(canvas) {
                var baseFrameWidth = 768,
                    baseFrameHeight = 1024, // TODO: this does not take into account the safari bar
                    margin = 10,
                    maxWidth = $(window).width() - margin * 2,
                    maxHeight = $(window).height() - margin * 2,
                    width = Math.min(baseFrameWidth, maxWidth),
                    height = Math.min(baseFrameHeight, maxHeight),
                    adaptedW = height * baseFrameWidth / baseFrameHeight,
                    adaptedH = width * baseFrameHeight / baseFrameWidth,
                    canvasWidth = Math.min(adaptedW, width),
                    canvasHeight = Math.min(adaptedH, height);


                canvas.width = baseFrameWidth;
                canvas.height = baseFrameHeight;

                $(canvas).css({
                    'position':'absolute',
                    'left':$(window).width()/2 - canvasWidth/2,
                    'top':$(window).height()/2 - canvasHeight/2,
                    'width': canvasWidth,
                    'height': canvasHeight});
            }

            var pageArgs = (function () {
                        var vars = {};
                        window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                                function (m, key, value) {
                                    vars[key] = value;
                                });
                        return vars;
                    }()),
                    xAxis = pageArgs['x'] || 'pointer.x',
                    yAxis = pageArgs['y'] || 'pointer.y',
                    timeAxis = pageArgs['time'] || 'trialTime',
                    canvas = document.getElementById('stroke-canvas'),
                    strokeDrawer = new StrokeDrawer(document.getElementById('stroke-canvas'),
                            xAxis,
                            yAxis,
                            timeAxis,
                            TRIAL_EVENTS);

            adaptCanvasSize(canvas);
            strokeDrawer.draw();

            $(window).resize(function(){
                adaptCanvasSize(canvas);
                strokeDrawer.draw(null, true);
            })

        }());

    </script>
{% endblock %}
</body>